#Estilo2 {
}
#body {
	text-align: center;
}
#Contenedor {
	width: 700px;
	height: 600px;
	text-align: center;
	background-color: #;
	margin: auto;
	border: 4px dashed #FFF;
}
#Tabla {
	font-family: "Comic Sans MS";
	font-weight: bold;
	color: #FFF;
}
#Fondosimple {
}
